<p>
  <mat-toolbar color="primary">
    <span class="logo" routerLink="/">Angular Login Client</span>
    <span class="spacer"></span>
    <button *ngIf="!loggedIn" mat-raised-button [routerLink]="['login']">Login</button>
    <button *ngIf="loggedIn" mat-raised-button>User</button>
    <button *ngIf="loggedIn" (click)="logoutUser()" mat-raised-button>Logout</button>
    <button *ngIf="!loggedIn" mat-raised-button [routerLink]="['register']">Register</button>
  </mat-toolbar>
</p>
<router-outlet></router-outlet>